@charset "UTF-8";
#total{
	background: red;
   color: red;   
   background-image: url(21.png);
   width:800px;
   height: 1500px;
   font-size: 50px; 
   list-style: none;
   float: left;
   padding: 15px;
   text-align: center;
  
}
#top{
   width: 680px;
   padding-left: 0px;
   height: 50px;
   background: lime;
}
#top2{
	top:100px;
	left:100px;
	top: 350px;
	position: fixed;
	width: 500px;
	height: 300px;
	background: black;
	font: 궁서; 
	font-size:50px;
	font-weight: bold;
	color: yellow;
	border-top: 5px solid  aqua;
	border-bottom: 10px double white;
	border-radius: 100px 10px;
	box-shadow:10px 10px;
}
tr{
   width: 300px;
}
.t1{
   width: 100px;
   text-align: center;
}
.t1:hover{
   background: lime;
   font-weight: bold;
}
.t2{
   width: 200px;









