@charset "UTF-8";
 #total{
   color: blue;   
   background-image: url(11.jpg);
   width:800px;
   height: 1500px;
   font-size: 20px; 
}
#top{
   width: 680px;
   padding-left: 120px;
   height: 50px;
   background: lime;
}
#top li{
   list-style: none;
   float: left;
   width: 100px;
   height: 50px;
   padding-left: 25px;
   padding-top: 10px;
   display: table-cell;
   vertical-align: middle; 
}
#top li:nth-child(2n+1) {
   background: red;
   box-shadow: 10px 10px gray;
}
#top li:nth-child(2n) {
   background: orange;
   box-shadow: 10px 10px gray;
}
#top li:first-child {
   border-radius: 20px 0 0 20px;
}
#top li:last-child {
   border-radius: 0 20px 20px 0;
}
/* a {
   text-decoration: overline;
   font-family: 굴림;
   font-size: 20px;
   color: yellow;
   font-weight: lighter;
}
a:hover {
   text-decoration: none;
   font-family: 궁서;
   font-size: 18px;
   color: white;
   font-weight: bold;
} */
#content{
   padding-top: 50px;
   background: yellow;
   width: 800px;
   height: 300px;
}
tr{
   width: 300px;
}
.t1{
   width: 100px;
   text-align: center;
}
.t1:hover{
   background: lime;
   font-weight: bold;
}
.t2{
   width: 200px;
}
.t3{
   text-align: center;
}
input[type="submit"]{
   color: gold;
   font-family: 궁서;
   font-weight: bold;
   font-size: 30px;
   
}
input[type="submit"]:hover{
   color: green;
   font-family: 궁서;
   font-weight: bold;
   font-size: 30px;
   
}

input[type="text"]{
   background: black;
   font-size: 30px;
   color: black;
   font-weight: bold;
   font-family: 궁서;
   
} 
#top2{
	top:90px;
	left:1400px;
	position: fixed;
	width: 80px;
	height: 300px;
	background: black;
	padding-right: 20px;
	font-size:10px;
	font-weight: bold;
	color: green;
	 border-top: 5px solid  aqua;
	border-bottom: 10px double white; 
	/* border-radius: 100px 10px; */
	/* box-shadow:10px 10px; */
}
#1{
	color: blue;
	font-size: 10px;
}









